.section{

  position: relative;


  &--big{
    padding: 8rem 10rem 15rem;
    overflow: hidden;

    .section__image{
      width: 55%;
      position: absolute;
      top: 2rem;


      &--left{
        left: 0;
        transform: translateX(-28%);

      }

      &--right{
        right: 0;
        transform: translateX(30%);
      }
    }
    .section__image--left ~ .section__text-container {
      float: right;
    }
  }
  &--small{
    background-image: linear-gradient(to right,rgba($color-gradient-gray-blue, .9), rgba($color-gradient-desaturated-blue, .9)), url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: -50% 85%;
    border-bottom-left-radius: 10vh;
    border-top-right-radius: 10vh;
    padding: 5rem 8rem 5rem;

    .section__text-container{
      //width: 50%;
      float: right;
      //margin-left: auto;

    }
    &::after{
      content: "";
      clear: both;
      display: table;
    }

    .section__image{
      position: absolute;
      top: 0;
      transform: translateY(-25%);
    }
  }

  &__text-container{
    width: 53%;
    //display: block;


  }
  &__paragraph{
    margin-bottom: 2rem;
    line-height: 2em;
    font-size: 1rem;



  }


}

.section:nth-child(even){
  h1, h2, h3{

    color:  $color-primary-dark-blue;
  }
  color: $color-dark-grayish-blue;
//color: red;
}
.section:nth-child(odd){
  color: $color-white;


}